<footer>
  <div class="footer-container">
    {% include separator.html %}
    <div class="flex-container justify-between footer-details">
      <div class="footer-desc">
        <p>
          The Prototype Fund is a project of the Open Knowledge Foundation Germany,
          funded by the Federal Ministry of Education and Research (BMBF).
        </p>
        <img src="/assets/images/footer_logo.svg" />
      </div>
      <div class="footer-links flex-container justify-around">
        <div class="links-container">
          <a class="link" href="">About</a>
          <a class="link" href="">Projects</a>
          <a class="link" href="">News</a>
          <a class="link" href="">About</a>
        </div>
        <div class="social-container">
          <p>join the conversation<br/>#prototypefund</p>
          <div class="social-links">
            <p>follow us:</p>
            <div class="flex-container justify-start">
              <a href=""><img src="/assets/images/social_icons/twitter.png" /></a>
              <a href=""><img src="/assets/images/social_icons/mastodon.png" /></a>
              <a href=""><img src="/assets/images/social_icons/forum.png" /></a>
            </div>
          </div>
          <div class="links-container">
            <a class="link" href="">Code of Conduct</a>
            <a class="link" href="">Imprint</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>