<footer>
  <div class="flex-container separator-container justify-between align-center">
    <div class="blue-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="pink-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="blue-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="pink-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="blue-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
    <div class="pink-label separator-banner">
      <div>Demo</div>
      <div>Week</div>
    </div>
  </div>
  <div class="footer-container">
    <div class="flex-container justify-between footer-details">
      <div class="footer-desc">
        <p>
          Der Prototype Fund ist ein Projekt der Open Knowledge Foundation Deutschland e. V.,
          das vom Bundesministerium für Bildung und Forschung (BMBF) gefördert wird.
        </p>
        <div class="flex-container justify-start align-center">
          <img src="/assets/images/footer_logo.svg" />
          <img src="/assets/images/logo-okfn.png" style="margin-left: 5rem;" />
        </div>
      </div>
      <div class="social-container">
        <p>join the conversation<br/>#prototypefund</p>
        <div class="social-links">
          <p>follow us:</p>
          <div class="flex-container justify-end">
            <a href="https://twitter.com/prototypefund" target="_blank" rel="nofollow noreferrer"><img src="/assets/images/social_icons/twitter.png" /></a>
            <a href="https://mastodon.social/@PrototypeFund" target="_blank" rel="nofollow noreferrer"><img src="/assets/images/social_icons/mastodon.png" /></a>
          </div>
        </div>
        <div class="links-container">
          <a class="link" href="https://prototypefund.de/code-of-conduct/" target="_blank" rel="nofollow noreferrer">Code of Conduct</a>
          <a class="link" href="https://prototypefund.de/impressum/" target="_blank" rel="nofollow noreferrer">Impressum / Datenschutz</a>
        </div>
      </div>
    </div>
  </div>
</footer>