<nav>
  <div class="nav-container hidden-xs">
    <ul>
      <li class="nav-links">
        <a href="/#keynote1">Eröffnung</a>
      </li>
      <li class="nav-links">
        <a href="/#project-section">Projekte</a>
      </li>
      <li class="nav-links">
        <a href="/#keynote2">Abschluss</a>
      </li>
    </ul>
  </div>
  <div class="nav-xs-container">
    <input type="checkbox" class="checkbox" hidden id="click">
    <label class="nav-hamburger" for="click"><img src="/assets/images/hamburger.png" /></label>
    <ul class="navs">
      <li class="nav-links">
        <a href="/#keynote1">Eröffnung</a>
      </li>
      <li class="nav-links">
        <a href="/#project-section">Projekte</a>
      </li>
      <li class="nav-links">
        <a href="/#keynote2">Abschluss</a>
      </li>
    </ul>
  </div>
</nav>
