
.project-body {
  max-width: 750px;
  margin: auto;
  margin-bottom: 10rem;
  color: #A8A9C2;

  h1, h2, h3, h4 {
    color: $white;
    margin: 1.5rem 0;
    line-height: 150%;
  }

  img {
    max-width: 100%;
  }

  b, strong {
    color: #CFD0E2;
  }
}

.project-container {
  .home-link {
    color: $neon_pink;
    text-transform: uppercase;

    img {
      margin-right: 1rem;
    }

    div {
      margin-bottom: 3rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}