---
layout: default
---

<div class="flex-container container landing-hero justify-between">
  <div class="logo-details">
    <img src="/assets/images/logo.svg" />
    <h1 class="pink-border">Prototype</h1>
    <h1 class="blue-border">Fund</h1>
  </div>
  <div class="description">
    <h3>RUNDE 7</h3>
    <p>
      Zum ersten Mal findet statt eines analogen Demo Day eine virtuelle Demo Week statt.
      Hier präsentieren die 21 Projekte der 7. Förderrunde die Softwareprototypen, an
      denen sie in den vergangenen sechs Monaten im Rahmen ihrer Förderung gearbeitet haben.
      <br/><br/>
      Wie kann man etwas vertrauen, das zum Großteil unsichtbar ist und aus abstrakten
      Bits und Bytes besteht? Und welche Technologien haben das Potenzial, für mehr
      Vertrauen zu sorgen? Damit und mit vielen weiteren Fragen haben sich die Projekte
      beschäftigt.
    </p>
  </div>
</div>
<hr />
<div class="flex-container container justify-between">
  <div class="header">
    <h2>“Engineering Trust <br/>
      ‘- Vertrauen bauen”</h2>
  </div>
  <div class="description">
    <p>
      Die Ergebnisse ihrer Arbeit könnt ihr unten in Form Texten, Bildern, Videos und
      natürlich Demos ansehen.<br/>
      Am Montag (24.08, 18.30) startet die Demo Week mit einer
      <a href="">Eröffnung</a>. In den darauffolgenden Tagen stellen sich die
      <a href="">Projekte</a> vor. Am Freitagabend folgt der offizielle
      <a href="">Abschluss</a>.
      <br/><br/>
      Unsere Tweets zur Demo Week erkennt ihr an #prototypedemos - ihr seid herzlich
      eingeladen mit zu zwitschern und zu diskutieren!<br/>
      Wir wünschen euch eine inspirierende Woche!
    </p>
  </div>
</div>
<hr/>
<div class="flex-container video-container container justify-between">
  <div class="description">
    <h2>Eröffnung</h2>
    <p>Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia
      quis vel eros donec ac odio tempor orci dapibus ultrices Volutpat odio facilisis
      mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac
      odio tempor orci dapibus.</p>
    <h2>Keynotes</h2>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speaker.png" />
        <div class="speaker-details">
          <h4>Maxi Muster</h4>
          <small>Speaker.in</small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speaker.png" />
        <div class="speaker-details">
          <h4>Maxi Muster</h4>
          <small>Speaker.in</small>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <img src="/assets/images/video_placeholder.svg" />
  </div>
</div>
{% include separator.html %}
<div class="featured-projects container">
  <h2 class="title">
    Featured
  </h2>
  <div class="flex-container project justify-around align-center">
    <div class="project-image">
      <img src="/assets/images/project_img_placeholder.png" />
      <div class="hashtags">
        <span>#HASHTAG</span><span>#HASHTAG</span><span>#HASHTAG</span>
      </div>
    </div>
    <div class="project-details">
      <div class="project-authors">
        <a href="">Hadi al Khatib,</a> <a href="">Jeff Deutch,</a> <a href="">Nikolas Para</a>
        <h2 class="project-title">ALARMDISPLAY</h2>
        <p class="project-brief">
          We are an open source ticket shop with no major hardware and software hurdles.
        </p>
        <p class="project-description">
          Lightbeam verwendet interaktive Visualisierungen und zeigt die Verbindungen
          zwischen besuchten Websites und Dritten, die möglicherweise tracken, an.
          Wenn Lightbeam aktiviert ist und man währenddessen ein Website besucht,
          erstellt die Browsererweiterung eine Echtzeit-Visualisierung aller auf dieser
          Seite aktiven Drittanbieter.
        </p>
        <a href="" class="btn project-btn">View Project</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="title">Alle Projekte</h2>
  {% for project in site.projects %}
    {% assign mod = forloop.index | modulo: 2 %}
    <div class="flex-container project {% if mod == 1%}inverse{% endif %} justify-between">
      <div class="project-details">
        <div class="project-authors">
          {% for author in project.authors %}
            <a {% if author.link %}href="{{ author.link }}"{% endif %}>
              {{ author.author }}{% if forloop.last != true %}, {% endif %}
            </a>
          {% endfor %}
          <h2 class="project-title">
            {{ project.title }}
          </h2>
          <p class="project-brief">
            {{ project.brief }}
          </p>
          <a href="{{ project.url }}" class="btn project-btn">View Project</a>
        </div>
      </div>
      <div class="project-image">
        <img src="/assets/images/project_img_placeholder.png" />
        <div class="hashtags">
          {% for hashtag in project.tags %}
            <span>#{{ hashtag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<hr />
<div class="flex-container video-container container justify-between">
  <div class="description">
    <h2>Eröffnung</h2>
    <p>Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia
      quis vel eros donec ac odio tempor orci dapibus ultrices Volutpat odio facilisis
      mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac
      odio tempor orci dapibus.</p>
    <h2>Keynotes</h2>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speaker.png" />
        <div class="speaker-details">
          <h4>Maxi Muster</h4>
          <small>Speaker.in</small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speaker.png" />
        <div class="speaker-details">
          <h4>Maxi Muster</h4>
          <small>Speaker.in</small>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <img src="/assets/images/video_placeholder.svg" />
  </div>
</div>
