---
layout: default
---

<div class="flex-container container landing-hero justify-between">
  <div class="logo-details">
    <img src="/assets/images/logo.svg" />
    <h1 class="pink-border">Prototype</h1>
    <h1 class="blue-border">Fund</h1>
  </div>
  <div class="description">
    <h3>Runde 7</h3>
    <p>
      Zum ersten Mal findet statt eines analogen Demo Day eine virtuelle Demo Week statt.
      Hier präsentieren die 21 Projekte der 7. Förderrunde die Softwareprototypen, an
      denen sie in den vergangenen sechs Monaten im Rahmen ihrer Förderung gearbeitet haben.
      <br/><br/>
      Wie kann man etwas vertrauen, das zum Großteil unsichtbar ist und aus abstrakten
      Bits und Bytes besteht? Und welche Technologien haben das Potenzial, für mehr
      Vertrauen zu sorgen? Damit und mit vielen weiteren Fragen haben sich die Projekte
      beschäftigt.
    </p>
  </div>
</div>
<hr />
<div class="flex-container container justify-between">
  <div class="header">
    <h2>Engineering Trust<br/>
      - Vertrauen bauen</h2>
  </div>
  <div class="description">
    <p>
      Die Ergebnisse ihrer Arbeit könnt ihr unten in Form von Texten, Bildern, Videos und
      natürlich Demos ansehen.<br/>
      Am Montag (24.08, 18.30) startet die Demo Week mit einer
      <a href="">Eröffnung</a>. In den darauffolgenden Tagen stellen sich die
      <a href="">Projekte</a> vor. Am Freitagabend folgt der offizielle
      <a href="">Abschluss</a>.
      <br/><br/>
      Unsere Tweets zur Demo Week erkennt ihr an #prototypedemos - ihr seid herzlich
      eingeladen mit zu zwitschern und zu diskutieren!<br/>
      Wir wünschen euch eine inspirierende Woche!
    </p>
  </div>
</div>
<hr/>
<div class="flex-container video-container container justify-between" id="keynote1">
  <div class="description">
    <h2>Eröffnung</h2>
    <p>Am 24.08. haben wir die Demo Week mit einem Livestream eröffnet.
      Falls ihr die Eröffnung verpasst habt, könnt ihr euch hier das Video
      davon ansehen. Mit dabei sind
      <a href="">Karolin Schwarz</a>
      (Autorin und freie Journalistin) und
      <a href="">Linus Neumann</a>
      (Sprecher des CCC), die das Thema Vertrauen in zwei Impulsvorträgen
      aus unterschiedlichen Perspektiven beleuchtet haben. Außerdem stellen
      sich alle Projekte kurz vor und wir geben einen Überblick über die Woche.</p>
    <h2>Keynotes</h2>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/KarolinSchwarz.png" />
        <div class="speaker-details">
          <h4>Karolin Schwarz</h4>
          <small>Autorin & Freie Journalistin</small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/LinusNeumann.png" />
        <div class="speaker-details">
          <h4>Linus Neumann</h4>
          <small>Chaos Computer Club Sprecher</small>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/LA8ntFNBk-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- img src="/assets/images/video_placeholder.svg" / -->
  </div>
</div>
{% include separator.html %}
{% assign featured_project = site.projects | sample: 2 %}
<div class="featured-projects container" id="project-section">
  <span class="featured-title">
    Projekt Highlight
  </span>
  <div class="flex-container project justify-around align-center">
    <div class="project-image">
      {% if featured_project[0].image %}
          <img src="{{ featured_project[0].image }}" />
      {% else %}
        <img src="/assets/images/project_img_placeholder.png" />
      {% endif %}
    </div>
    <div class="project-details">
      <div class="project-authors">
        {% for author in featured_project[0].authors %}
          <a {% if author.link %}href="{{ author.link }}"{% endif %}>
            {{ author.author }}{% if forloop.last != true %}, {% endif %}
          </a>
        {% endfor %}
      </div>
      <h2 class="project-title">{{ featured_project[0].title }}</h2>
      <p class="project-brief">
        {{ featured_project[0].brief }}
      </p>
      <p class="project-description">
        {{ featured_project[0].summary }}
      </p>
      <a href="{{ featured_project[0].url }}" class="btn project-btn">View Project</a>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-left">Alle Projekte</h2>
  <p class="text-left project-section-desc">
    Diese 21 Projekte haben wir in der 7. Runde des Prototype Fund mit Mitteln des BMBF
    von März bis September 2020 gefördert. Ihr habt Fragen an ein Projekt? Schickt sie an
    <a href="mailto:demoweek@prototypefund.de">demoweek@prototypefund.de</a> oder twittert sie mit dem Hashtag
    <span class="hashtag">#prototypedemos</span> - beim
    Abschlussevent am 28.08. werden die Projekte einige eurer Fragen beantworten
  </p>
  {% for project in site.projects %}
    {% assign mod = forloop.index | modulo: 2 %}
    <div class="flex-container project {% if mod == 1%}inverse{% endif %} justify-between">
      <div class="project-image">
        <a href="{{ project.url }}" style="line-height: 0;">
          {% if project.image %}
            <img src="{{ project.image }}" />
          {% else %}
            <img src="/assets/images/project_img_placeholder.png" />
          {% endif %}
        </a>
      </div>
      <div class="project-details">
        <div class="project-authors">
          {% for author in project.authors %}
            <a {% if author.link %}href="{{ author.link }}"{% endif %}>
              {{ author.author }}{% if forloop.last != true %}, {% endif %}
            </a>
          {% endfor %}
        </div>
        <a href="{{ project.url }}">
          <h2 class="project-title">
            {{ project.title }}
          </h2>
        </a>
        <p class="project-brief">
          {{ project.brief }}
        </p>
        <a href="{{ project.url }}" class="btn project-btn">View Project</a>
      </div>
    </div>
  {% endfor %}
</div>
<hr />
<div class="flex-container video-container container justify-between" id="keynote2">
  <div class="description">
    <h2>Abschluss</h2>
    <p>Zum Abschluss der Demo Week am 28.08. werden die Projektteams auf eure Fragen
      antworten, bevor wir mit einem Panel abschließen. Mit unseren Panel-Gästen reden
      wir darüber, wie die Corona-Pandemie unser Verhältnis zu Technologie gewandelt
      hat: Was braucht Technologie, damit wir ihr vertrauen können, wie sieht sichere
      Technologie aus und wie können wir die aktuelle Herausforderung als Chance auf
      einen Wandel hin zu einer solchen begreifen?</p>
    <h2>Panel</h2>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/AnnCathrinRiedel.png" />
        <div class="speaker-details">
          <h4>Ann Cathrin Riedel</h4>
          <small>Load e. V.</small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/MatthiasKirschner.png" />
        <div class="speaker-details">
          <h4>Matthias Kirschner</h4>
          <small>Free Software Foundation Europe</small>
        </div>
      </div>
    </div>
    <div class="flex-container justify-start">
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/MichaelWeber.png" />
        <div class="speaker-details">
          <h4>Michael Weber</h4>
          <small>BMBF</small>
        </div>
      </div>
      <div class="speaker flex-container justify-start align-center">
        <img src="/assets/images/speakers/AdrianaGroh.png" />
        <div class="speaker-details">
          <h4>Adriana Groh</h4>
          <small>Prototype Fund</small>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <div class="iframe-container">
	  <iframe src="https://www.youtube.com/embed/4VtBl9f8ayo?start=5&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <!-- img src="/assets/images/video_placeholder.svg" / -->
  </div>
</div>
<img id="scroll-to-top" src="/assets/images/scroll.png" onclick="topFunction()" />
<script>
  //Get the button
  var mybutton = document.getElementById("scroll-to-top");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<script>
  var projects = {{ site.projects | jsonify }};
</script>
<script src="/assets/js/randomFeaturedProject.js"></script>
<script src="/assets/js/fadeInPage.js"></script>
