---
layout: default
---
<div class="project-container container">
  <div class="flex-container project justify-between">
    <div class="project-details">
      <div class="project-authors">
        <a href="">Hadi al Khatib,</a> <a href="">Jeff Deutch,</a> <a href="">Nikolas Para</a>
        <h2 class="project-title">ALARMDISPLAY</h2>
        <p class="project-brief">
          We are an open source ticket shop with no major hardware and software hurdles.
        </p>
        <p class="project-description">
          Lightbeam verwendet interaktive Visualisierungen und zeigt die Verbindungen
          zwischen besuchten Websites und Dritten, die möglicherweise tracken, an.
          Wenn Lightbeam aktiviert ist und man währenddessen ein Website besucht,
          erstellt die Browsererweiterung eine Echtzeit-Visualisierung aller auf dieser
          Seite aktiven Drittanbieter.
        </p>
      </div>
    </div>
    <div class="project-image">
      <img src="/assets/images/project_img_placeholder.png" />
      <div class="hashtags">
        <span>#HASHTAG</span><span>#HASHTAG</span><span>#HASHTAG</span>
      </div>
    </div>
  </div>
  <div class="project-body">
    {{ content }}
  </div>
</div>
