---
layout: default
---
<div class="project-container container">
  <a href="/" class="home-link">
    <div class="flex-container justify-start align-center">
      <img src="/assets/images/back.png" />
      <p>Zurück zur Startseite</p>
    </div>
  </a>
  <div class="flex-container project justify-between">
    <div class="project-details">
      <div class="project-authors">
        {% for author in page.authors %}
          <a {% if author.link %}href="{{ author.link }}"{% endif %}>
            {{ author.author }}{% if forloop.last != true %}, {% endif %}
          </a>
        {% endfor %}
      </div>
      <h2 class="project-title">{{ page.title }}</h2>
      <p class="project-brief">
        {{ page.brief }}
      </p>
      {% if page.summary %}
        <p class="project-description">
          {{ page.summary }}
        </p>
      {% endif %}
    </div>
    <div class="project-image">
      {% if page.image %}
        <img src="{{ page.image }}" />
      {% else %}
        <img src="/assets/images/project_img_placeholder.png" />
      {% endif %}
    </div>
  </div>
  <div class="project-body">
    {{ content }}
  </div>
</div>
